rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Helper function to check if the user is authenticated (admin)
    function isAdmin() {
      return request.auth != null && request.auth.token.email == "induwara1203@gmail.com";
    }

    match /gallery/{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin();
    }
  }
}
